In [2]:
#Read titanic dataset and perform following operations and observe output
#1. Find total number of survived(0) and non-survived(1)
#2. Find max and min fairprice of each Pclass (1 and 2 and 3)
#3. Handle missing values in age and cabin columns
#4. Find average fair price of lower class people (Pclass = 3) who survived
#5. Learn dna implement how to find duplicate columns and rows and how to remove them

In [33]:
import pandas as pd
import numpy as np
df = pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [124]:
#1. Find total number of survived(0) and non-survived(1)

df['Survived'].value_counts()

Survived
0    442
1    239
Name: count, dtype: int64

In [69]:
#2. Find max and min fairprice of each Pclass (1 and 2 and 3)
d=df[['Pclass','Fare']]
print(d)


print('min fairprice of each Pclass is')
min_val= df.groupby("Pclass")['Fare'].min()
print(min_val)
print('*****************')
print('\n max fairprice of each Pclass is')
max_val= df.groupby("Pclass")['Fare'].max()
print(max_val)

     Pclass     Fare
0         3   7.2500
1         1  71.2833
2         3   7.9250
3         1  53.1000
4         3   8.0500
..      ...      ...
886       2  13.0000
887       1  30.0000
888       3  23.4500
889       1  30.0000
890       3   7.7500

[891 rows x 2 columns]
min fairprice of each Pclass is
Pclass
1    0.0
2    0.0
3    0.0
Name: Fare, dtype: float64
*****************

 max fairprice of each Pclass is
Pclass
1    512.3292
2     73.5000
3     69.5500
Name: Fare, dtype: float64

In [58]:
#3. Handle missing values in age and cabin columns
a=(df[['Age','Cabin']])
print(a)
a.isna().sum()

      Age Cabin
0    22.0   NaN
1    38.0   C85
2    26.0   NaN
3    35.0  C123
4    35.0   NaN
..    ...   ...
886  27.0   NaN
887  19.0   B42
888   NaN   NaN
889  26.0  C148
890  32.0   NaN

[891 rows x 2 columns]

Age      177
Cabin    687
dtype: int64

In [57]:
a.fillna(value='FILL VALUE')

            Age       Cabin
0          22.0  FILL VALUE
1          38.0         C85
2          26.0  FILL VALUE
3          35.0        C123
4          35.0  FILL VALUE
..          ...         ...
886        27.0  FILL VALUE
887        19.0         B42
888  FILL VALUE  FILL VALUE
889        26.0        C148
890        32.0  FILL VALUE

[891 rows x 2 columns]

In [108]:
#4. Find average fair price of lower class people (Pclass = 3) who survived
e=df[(df['Survived'] ==1) & (df['Pclass'] ==3)]
f=e['Fare'].mean()
print(f)

13.69488739495798

In [128]:
#5. Learn dna implement how to find duplicate columns and rows and how to remove them
f=df['Fare'].nunique()
print(f)
T = df.drop_duplicates(subset=['Fare'], keep='first')
T['Survived'].value_counts()

247

Survived
0    132
1    115
Name: count, dtype: int64